width{
    width:100%;
    overflow: hidden;
}
.icon{
    font-size:200%;
    color:red;
}
.search{
    font-size:150%;
    color:red;
}
/* styles.css */
.nav-link{
    text-decoration: none; /* Remove underline */
  }
  
  .nav-link.active {
    font-weight: bold; /* Example: Change font weight for active link */
  }
  
