.width{
    width:100%;
    overflow: hidden;
}
.fruit{
    padding-top:15%;
    padding-left:15%;
    font-size:400%;
}
.contact{
    padding-left:15%;
    padding-top:5%;
}
.btns{
    padding-left:15%;
    margin-top:5%;
}
.login.btns{
    padding:5%;
}
.contact.btns{
    padding:5%;

}
.image{
    width:100%;
    height:100%;
    padding:1%;
   box-shadow: 0 0 20px rgba(128, 128, 128, 0.4); /* Adjust values as needed */

}